<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tag %> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app" class="h-100 container-fluid">
      <notifications group="app" position="bottom right" width="350px"></notifications>
      <% if user_signed_in? %>
        <layout :alert="'<%= alert %>'" :notice="'<%= notice %>'" :user="<%= current_user.to_json(include: :roles) %>">
          <%= yield %>
        </layout>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
